.account{
    background-image: url(/static/media/loginsignup.de2e7249.jpg);
    height: 640px;
}

.profile .header{
    height: 25px;
}

.profileEdit{
    width: 130px;
}

.register{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
    opacity: 1!important;
}