.movie_image{
    max-height: 390px;
}
.movie_image>img{
    height: -webkit-fill-available!important;
}
.movie_card .description{
    height: 60px!important;
    overflow: hidden;
}
.movie_card .header{
    height: 25px!important;
    overflow: hidden;
}

.notification{
    height: 50px;
    border-radius: 50%;
}

.day{
    color: grey;
}

.title{
    color: black;
}

.newNotification{
    background-color: lightblue;
}

.oldNotification{
    padding-top: 2%!important;
}

.result .description{
    height: 55px;
    overflow: hidden;
    width: 180px!important;
}

.result .image{
    width: 40px!important;
}

.result .content .title{
    width: 180px!important;
}