.movie_image{
    max-height: 390px;
}
.movie_image>img{
    height: -webkit-fill-available!important;
}
.movie_card .description{
    height: 55px!important;
    overflow: hidden;
}
.movie_card .header{
    height: 25px!important;
    overflow: hidden;
}